:root {
    --background-color: #7a6a6d;
    --letter-border-color: #4C4347;
    --letter-color: #615458;
    --letter-correct-color: #3aa394;
    --letter-place-color: #d3ad69;
    --letter-wrong-color: #312a2c;
}

body {
    background-color: var(--background-color);
}

#games {
    margin: auto;
}

#termo-table {
    margin: auto;
}

#keyboard {
    margin: auto;
}

.letter {
    aspect-ratio: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #FAFAFF;
    font-size: 30px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border: 5px solid #615458;
    background-color: #615458;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    caret-color: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-drag: none !important;
    -webkit-user-drag: none !important;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}

.letter:hover {
    cursor: pointer;
}

.letter.correct {
    background-color: var(--letter-correct-color);
    border-color: var(--letter-correct-color);
}

.letter.place {
    background-color: var(--letter-place-color);
    border-color: var(--letter-place-color);
}

.letter.wrong {
    background-color: var(--letter-wrong-color);
    border-color: var(--letter-wrong-color);
}

.letter.empty {
    border: 5px solid var(--letter-border-color);
    background-color: transparent;
}

.letter.focused {
    border-bottom: 10px solid var(--letter-border-color) !important;
}
